.BoardUI {
    text-align: center;
}

.BoardUI table {
    margin: auto;
    margin-top: 100px;
}

.BoardUI td {
    width: 15vw;
    height: 15vw;
    padding: 5px;
    background-color: lightgray;
    font-size: large;
}